* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: #00008b;
  padding: 4px 10px;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

nav .logo {
  color: white;
  padding: 4px;
  display: flex;
  align-items: center;
}

nav .logo img {
  width: 40px;
  margin: 0 8px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  padding: 8px 16px;
  display: inline-block;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00008b;
  background-color: white;
  border-bottom: 1px solid #7fffd4;
}

.btn-menu {
  display: none;
}

.container {
  padding: 60px 8px 8px 8px;
}

.container .hero {
  background-color: lightblue;
  width: 100%;
  height: 70vh;
  background-image: url('img/hero.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.content .serviceses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.serviceses .services {
  width: 30%;
  text-align: center;
  box-shadow: 0 0 4px lightblue;
  padding: 16px;
  border-radius: 10px;
  margin: 16px 0;
}

.services h4 {
  padding: 8px;
}

.services img {
  width: 80px;
}

.detail-services .detail {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 16px 0;
}

.detail:nth-child(2) img {
  order: 2;
}

.detail img {
  width: 40%;
}

.detail p {
  padding: 8px;
  width: 50%;
}

.footer {
  background-color: #00008b;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer h3 {
  color: yellow;
}

.footer .channel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin: 8px 0;
}

.footer .channel img {
  width: 50px;
  padding: 8px;
}

.footer .footer-menu {
  width: 30%;
  margin: 8px 0;
}

.footer .footer-menu ul {
  list-style: none;
}

.footer .footer-menu a {
  text-decoration: none;
  color: white;
  padding: 4px;
  display: inline-block;

}

.footer .contact-form {
  width: 30%;
  margin: 8px 0;
  /* text-align: center; */
}

.footer .contact-form input {
  padding: 4px;
  margin: 4px;
  border-radius: 4px;
}

.footer .contact-form a {
  display: inline-block;
  background-color: yellow;
  padding: 8px 16px;
  color: #00008b;
  text-decoration: none;
  border-radius: 5px;
  margin: 4px 0;
}

.footer-credit {
  padding: 16px 0;
  color: white;
  text-align: center;
  width: 100%;
  background-color: #483d8b;
}

/*Responsive*/
@media(max-width:576px) {
  nav {
    display: flex;
    background-color: #00008b;
    padding: 4px 10px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  nav .logo {
    color: white;
    padding: 4px;
    display: flex;
    align-items: center;
  }

  nav .logo img {
    width: 30px;
    margin: 0 8px;
  }

  nav ul {
    display: flex;
    position: absolute;
    list-style: none;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80%;
    background-color: #00008B;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1.5s;
  }

  nav ul.active {
    transform: translateX(0);
    opacity: 1;
  }

  nav ul li a {
    color: white;
    padding: 16px 8px;
    display: block;
    text-decoration: none;
  }

  nav ul li a:hover {
    color: #00008b;
    background-color: white;
    border-bottom: 1px solid #7fffd4;
  }

  .btn-menu {
    display: flex;
    margin: 13px 10px;
    width: 35px;
    height: 25px;
    /*background-color: blue;*/
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .btn-menu span {
    width: 90%;
    height: 3px;
    background-color: white;
    margin: 0 2px;
  }

  .btn-menu:active span {
    width: 30%;
    height: 1px;
  }

  .container {
    /*margin: 0 10px;*/
    padding: 60px 8px 8px 8px;
  }

  .container .hero {
    background-color: lightblue;
    width: 100%;
    height: 30vh;
    margin: 8px 0;
    background-image: url('img/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
  }

  .content .serviceses {
    display: flex;
    flex-direction: column;
  }

  .serviceses .services {
    width: 100%;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    margin: 8px 0;
  }

  .services h4 {
    padding: 8px;
  }

  .services img {
    width: 80px;
  }

  .detail-services .detail {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    flex-wrap: no-wrap;
    margin: 16px 0;
    align-content: center;
  }

  .detail:nth-child(2) img {
    order: 2;
  }

  .detail img {
    width: 98%;
  }

  .detail p {
    width: 100%;
    padding: 8px;
  }

  .footer {
    background-color: #00008b;
    padding: 8px;
    display: flex;
    text-align: center;
    flex-direction: column;
  }

  .footer h3 {
    color: yellow;
  }

  .footer .channel {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px 0;
  }

  .footer .channel img {
    width: 50px;
    padding: 8px;
  }

  .footer .footer-menu {
    width: 100%;
    margin: 8px 0;
  }

  .footer .footer-menu ul {
    list-style: none;
  }

  .footer .footer-menu a {
    text-decoration: none;
    color: white;
    padding: 4px;
    display: inline-block;
  }

  .footer .contact-form {
    width: 100%;
    margin: 8px 0;
    /* text-align: center; */
  }

  .footer .contact-form input {
    margin: 4px;
    padding: 4px;
    border-radius: 4px;
  }

  .footer .contact-form a {
    display: inline-block;
    background-color: yellow;
    padding: 8px 16px;
    color: #00008b;
    text-decoration: none;
    border-radius: 5px;
    margin: 4px 0;
  }

  .footer-credit {
    padding: 16px 0;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #483d8b;
  }

}